[submodule "submodules/Utils"]
	path = submodules/Utils
url=https://github.com/Mattiapzz/Utils.git
[submodule "submodules/quarticRootsFlocke"]
	path = submodules/quarticRootsFlocke
url=https://github.com/Mattiapzz/quarticRootsFlocke.git
[submodule "cmake_utils"]
	path = cmake_utils
url=https://github.com/Mattiapzz/cmake_utils.git
